:root {
  --nav-height:100px;
  --nav-height-small:150px;
  --content-height:100px;
  --footer-height:40px;

  --shadow : rgb(102, 99, 99);
}
.app {
  margin: 0px;
  display: grid;
  grid-template-rows:
      var(--nav-height)
      1fr
      var(--footer-height);
  grid-template-areas:
      "menu"
      "content"
      "footer";
  height: 100vh;
  background-color:white;
}

@media(max-width: 576px) {
  .app {
      grid-template-rows:
          var(--nav-height-small)
          1fr
          var(--footer-height);
      grid-template-areas:
          "menu"
          "content"
          "footer";
  }
}