:root {
  --logo-height:100px;
  --nav-height:100px;
  --nav-height-small:150px;
  --content-height:100px;
  --footer-height:40px;
  --logo-width:235px;

  --shadow : rgb(102, 99, 99);
}
.app {
  margin: 0px;
  display: grid;
  grid-template-columns: var(--logo-width) 1fr;
  grid-template-rows:
      var(--nav-height)
      1fr
      var(--footer-height);
  grid-template-areas:
      "logo menu"
      "content content"
      "footer footer";
  height: 100vh;
  background-color:white;
}

aside.logo {
  grid-area: logo;
}

aside.menu-area {
  grid-area: menu;
}

main.content {
  grid-area: content;
}

footer.footer {
  grid-area: footer;
}
@media(max-width: 576px) {
  .app {
      grid-template-columns: 1fr;
      grid-template-rows: 
          var(--logo-height)
          var(--nav-height-small)
          1fr
          var(--footer-height);
      grid-template-areas:
          "logo"
          "menu"
          "content"
          "footer";
  }
}